body {
    background-color: antiquewhite;
}

ul {

    gap: 60px;
}

ul>li {
    list-style: none;
}

li:hover {
    color: brown;
    cursor: pointer;
    font-size: 1.2em;
}

img {
    width: 400px;
    height: auto;
    border-radius: 30px;
}